@page "/addclient"
@using Task = System.Threading.Tasks.Task
@using DigitalAgency.Dal.Entities
@using Newtonsoft.Json
@using System.Text
@inject NavigationManager _navigationManager
@inject IHttpClientFactory _clientFactory;


<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
<link href="css/site.css" rel="stylesheet"/>

<h1>Add new client</h1>
<p/>
<table>
    <tr>
        <td>First name:</td>
        <td>
            <input @bind="FirstName"/>
        </td>
    </tr>
    <tr>
        <td>Middle name:</td>
        <td>
            <input @bind="MiddleName"/>
        </td>
    </tr>
    <tr>
        <td>Last name:</td>
        <td>
            <input @bind="LastName"/>
        </td>
    </tr>
    <tr>
        <td>Phone number:</td>
        <td>
            <input @bind="PhoneNumber"/>
        </td>
    </tr>
</table>
<p/>
<a class="btn btn-secondary" href="clients">Back</a>
<button class="btn btn-primary" @onclick="AddNewClient">&#10004;Add</button> @Alert
<p/>

@code
{
    private string FirstName { get; set; }
    private string MiddleName { get; set; }
    private string LastName { get; set; }
    private string PhoneNumber { get; set; }
    private string Alert { get; set; }


    private async Task AddNewClient()
    {
        Alert = " ";
        if (FirstName == string.Empty || MiddleName == string.Empty || LastName == string.Empty || PhoneNumber == string.Empty)
        {
            Alert = "Fill all fields!";
        }
        HttpClient clientFactory = _clientFactory.CreateClient();
        Client client = new Client {
            FirstName = FirstName, MiddleName = MiddleName, LastName = LastName, PhoneNumber = PhoneNumber,
        };
        StringContent content = new StringContent(JsonConvert.SerializeObject(client), Encoding.UTF8, "application/json");
        HttpResponseMessage response = await clientFactory.PostAsync("http://localhost:8443/Client/PostClient", content);

        if (response.IsSuccessStatusCode)
        {
            Alert = "Client Successfully added!";
            _navigationManager.NavigateTo("clients");
        }
        else
        {
            Alert = await response.Content.ReadAsStringAsync();
        }
    }
}