@page "/editclient/{id}"
@using Task = System.Threading.Tasks.Task
@using DigitalAgency.Bll.Models
@using System.Text.Json
@using System.Text
@inject IHttpClientFactory _clientFactory;


<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
<link href="css/site.css" rel="stylesheet"/>

<h1>Update client</h1>
<p/>
@if (Client == null)
{
    <div>Loading...</div>
}
else
{
    <table>
        <div class="form-group">
            <input for="Name" disabled="true" class="form-control" @bind="@Client.Id"/>
        </div>
        <tr>
            <td>First name:</td>
            <td>
                <input @bind="FirstName"/>
            </td>
        </tr>
        <tr>
            <td>Middle name:</td>
            <td>
                <input @bind="MiddleName"/>
            </td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td>
                <input @bind="LastName"/>
            </td>
        </tr>
        <tr>
            <td>Phone number:</td>
            <td>
                <input @bind="PhoneNumber"/>
            </td>
        </tr>
    </table>
}

<p/>
<a class="btn btn-secondary" href="clients">Back</a>
<button class="btn btn-primary" @onclick="UpdateClientAsync">&#10004;Save</button> @Alert
<p/>

@code {
    protected ClientModel Client { get; set; }
    protected string FirstName { get; set; }
    protected string MiddleName { get; set; }
    protected string LastName { get; set; }
    protected string PhoneNumber { get; set; }
    protected string Alert { get; set; }
    protected string Info;

    [Parameter] public string Id { get; set; }


    override protected async Task OnInitializedAsync()
    {
        HttpClient mechanic = _clientFactory.CreateClient();
        HttpResponseMessage result = await mechanic.GetAsync("http://localhost:8443/Client/GetClient");

        Info = await result.Content.ReadAsStringAsync();
        JsonSerializerOptions options = new JsonSerializerOptions {
            PropertyNameCaseInsensitive = true,
        };
        List<ClientModel> deserialized = JsonSerializer.Deserialize<List<ClientModel>>(Info, options);
        Client = deserialized?.Where(x => x.Id.ToString() == Id).First();
        FirstName = Client?.FirstName;
        LastName = Client?.LastName;
        MiddleName = Client?.MiddleName;
        PhoneNumber = Client?.PhoneNumber;
    }

    protected async Task UpdateClientAsync()
    {
        Alert = " ";
        if (FirstName == string.Empty || MiddleName == string.Empty || LastName == string.Empty || PhoneNumber == string.Empty)
        {
            Alert = "Fill all fields!";
        }
        HttpClient client = _clientFactory.CreateClient();
        Client.FirstName = FirstName;
        Client.LastName = LastName;
        Client.MiddleName = MiddleName;
        Client.PhoneNumber = PhoneNumber;
        StringContent content = new StringContent(JsonSerializer.Serialize(Client), Encoding.UTF8, "application/json");
        HttpResponseMessage response = await client.PutAsync("http://localhost:8443/Client/PutClient", content);

        if (response.IsSuccessStatusCode)
        {
            Alert = "Client successfully added!";
        }
        else
        {
            Alert = await response.Content.ReadAsStringAsync();
        }
    }

}