<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">hello, @context.User.Identity.Name</a>
        <from method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </from>
    </Authorized>
    <NotAuthorized>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </NotAuthorized>
</AuthorizeView>
